<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stale Element</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script type="application/javascript">
        arrStatus = [false, false, false, false, false, false, false, false];
        arrVals = [0, 0, 0, 0, 0, 0, 0, 0];

        function showRecords() {
            $('#main-table tbody tr').remove();
            for (let i = 0; i < 8; ++i) {
                $('#main-table tbody').append(`<tr>
<td>Record ${i+1} <span class="badge badge-pill badge-info">${arrVals[i]}</span></td>
<td><button type="button" class="btn ${arrStatus[i]? 'btn-primary' : 'btn-outline-primary'}" onclick="clicked(${i})">Like</button></td>
</tr>`);
            }
        }

        function showRecordsTimer() {
            for (let i = 0; i < 8; ++i) {
                if (Math.random() < 0.05) {
                    arrVals[i] += Math.floor(Math.random() * 50);
                }
            }
            showRecords();
            window.setTimeout(showRecordsTimer, (5+ Math.random() * 10) * 100);
        }

        function clicked(i) {
            arrStatus[i] = !arrStatus[i];
            console.log(arrStatus[i]);
            $('#main-table tbody tr')[i].getElementsByTagName('button')[0].className = 'btn ' + (arrStatus[i]? 'btn-primary' : 'btn-outline-primary');
        }

        $(function () {
            showRecordsTimer();
        });
    </script>
</head>
<body>
<div class="container">
    <h1>Stale Element</h1>

    <table class="table table-hover" id="main-table">
        <thead>
            <tr>
                <th>Item</th>
                <th style="width: 150px;">Operation</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="card">
        <div class="card-header">Task</div>
        <div class="card-body">Click through all the buttons on the right.</div>
    </div>
</div>

</body>
</html>